VITE_API_URL=https://citysecbackendclaude-production.up.railway.app/api/v1
VITE_DEBUG=false

# Para manejar correctamente las fechas tipo DATETIME   
VITE_APP_TIMEZONE=America/Lima


VITE_DEFAULT_CURRENCY=PEN
