# Frontend (city_sec_frontend_v2)
# 
# El frontend solo necesita saber a qué backend apuntar.
# 
# .env apuntando al backend MySQL:
# 
# VITE_API_URL=https://citysecbackendclaude-production.up.railway.app/api/v1
#              
# .env apuntando al backend Supabase:
# 
# VITE_API_URL=https://citysecbackendsupabase-production.up.railway.app/api/v1
               
#

VITE_API_URL=https://citysecbackendclaude-production.up.railway.app/api/v1
VITE_DEBUG=false

# Para manejar correctamente las fechas tipo DATETIME   
VITE_APP_TIMEZONE=America/Lima


VITE_DEFAULT_CURRENCY=PEN
